<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 p-3 text-end">
      <%= link_to new_confession_queue_path do%>
        <span class="btn btn-primary">Nova Fila</a>
      <% end %>
    </div>
    <div class="col-lg-8">
      <ul>
        <% @confession_queues.each do |confession_queue| %>
          <li>
            <%= link_to edit_confession_queue_path(confession_queue.id) do%>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %> |
            <%= confession_queue.place %> |
            <%= confession_queue.date %> |
            Fila: <%= confession_queue.schedulings.count %> |
            <%= link_to "Agendar", new_confession_queue_scheduling_path(confession_queue_id: confession_queue.id) %>
          </li>
            <% unless confession_queue.schedulings.empty? %>
              <ul>
                <% confession_queue.schedulings.sort_by{ |sch| sch.hour }.each do |scheduling| %>
                  <li>
                    <%= link_to edit_scheduling_path(scheduling.id) do%>
                      <i class="fa-solid fa-pen-to-square"></i>
                    <% end %> |
                    <%=scheduling.hour.strftime("%R")%>
                  </li>
                <% end %>
              </ul>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
