<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 m-3">
      <%= form_with model: @confession_queue do |form| %>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="col mb-2">
              <%= form.label :date, "Data" %>
            </div>
            <div class="col">
              <%= form.date_select :date, start_year:Date.today.year %>
            </div>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <div class="col mb-2">
              <%= form.label :start_time, "Início" %>
            </div>
            <div class="col">
              <%= form.time_select :start_time, minute_step: 15 %>
            </div>
          </div>
          <div class="col-md-3 col-6 mb-3">
            <div class="col mb-2">
              <%= form.label :end_time, "Término" %>
            </div>
            <div class="col">
              <%= form.time_select :end_time, minute_step: 15 %>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="col mb-2">
              <%= form.label :place, "Local" %>
            </div>
            <%= form.text_field :place, class:"form-control w-100" %>
          </div>
          <div class="col-9 mb-3">
            <div class="col mb-2">
              <%= form.label :street, "Rua" %>
            </div>
            <%= form.text_field :street, class:"form-control w-100" %>
          </div>
          <div class="col-md-4 mb-3">
            <div class="col mb-2">
              <%= form.label :city, "Cidade" %>
            </div>
            <%= form.text_field :city, class:"form-control w-100" %>
          </div>
          <div class="col-md-4 mb-3">
            <div class="col mb-2">
              <%= form.label :state, "Estado" %>
            </div>
            <%= form.text_field :state, class:"form-control w-100" %>
          </div>
          <div class="col-md-4 mb-3">
            <div class="col mb-2">
              <%= form.label :postcode, "CEP" %>
            </div>
            <%= form.text_field :postcode, class:"form-control w-100" %>
          </div>
          <div class="col-12 mb-3">
            <div class="col mb-2">
              <%= form.label :notes, "Avisos" %>
            </div>
            <%= form.text_area :notes, class:"form-control w-100" %>
          </div>
          <div class="col-12">
            <%= form.submit "Cadastrar", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
